

body {
  font-family: Arial, sans-serif;
  background-color: #333333;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

h1 {
  background-color: #4c4c4c;
  padding: 10px;
  text-align: center;
  margin: 0;
}

form {
  padding: 20px;
  background-color: #4c4c4c;
  border-radius: 8px;
  max-width: 800px;
  margin: 40px auto 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

input[type="text"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
  color: #333333;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(0);
}

.student-name {
  display: flex;
  gap: 10px;
}

.student-name input[type="text"] {
  flex: 1;
}

button {
  background-color: #222b3b;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 4px auto;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #4c4c4c;
}

label {
  font-weight: bold;
  display: block;
  cursor: pointer;
}

input[type="text"],
input[type="date"] {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
}

.peer-name {
  display: flex;
  gap: 0.5rem;
}

.peer-name input[type="text"] {
  flex: 1;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
  table-layout: fixed;
}

th,
td {
  padding: 0.5rem;
  border: 1px solid #ccc;
  text-align: center;
  word-wrap: break-word;
}

th {
  background-color: #222b3b;
  color: #fff;
}

td {
  width: 25%;
  height: auto;
  min-height: 50px;
}

@media screen and (max-width: 480px) {
  body {
      font-size: 14px;
  }

  h1 {
      font-size: 1.2rem;
      padding: 8px;
  }

  form {
      padding: 10px;
  }

  input[type="text"],
  input[type="date"] {
      padding: 8px;
      font-size: 14px;
  }

  .student-name {
      flex-direction: column;
      gap: 5px;
  }

  button {
      padding: 8px 16px;
      font-size: 14px;
      background-color: #222b3b;
  }

  table th,
  table td {
      padding: 0.3rem;
      font-size: 12px;
  }

  .peer-name {
      flex-direction: column;
      gap: 5px;
  }

  .peer-name input[type="text"] {
      width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  form {
      max-width: 600px;
      margin: 0 auto;
      margin-top: 20px;
  }

  .student-name {
      flex-direction: row;
      gap: 10px;
  }

  .peer-name {
      flex-direction: row;
      gap: 0.5rem;
  }

  .peer-name input[type="text"] {
      width: auto;
  }
}

@media screen and (min-width: 1024px) {
  form {
      max-width: 800px;
      margin: 40px auto 20px;
  }

  .student-name {
      flex-direction: row;
      gap: 10px;
  }

  .peer-name {
      flex-direction: row;
      gap: 0.5rem;
  }

  .peer-name input[type="text"] {
      width: auto;
  }
}

